body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

#root {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
	height: 100%;
}

.chat {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	padding-top: 40px;
}

.messages {
	flex: 1;
	min-height: 0;
	overflow-y: auto;
	padding-bottom: 10px;
}

.message {
	margin-bottom: 10px;
}

.message .user {
	font-weight: bold;
	text-align: right;
}

.message .remove {
	position: absolute;
	width: 22px;
	height: 20px;
	left: -60px;
	/* display: "block", */
	display: none;
	padding: 0;
	line-height: 18px;
	border: "none";
}

.send-message {
	padding: 0;
}

.my-input-text::placeholder {
	color: #ccc;
}
